WindowsStoreAdminClient/RemoteService/Service References/AdminService/AdminService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Store.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Store.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1578/Service/AdminService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Store.Common.Enum" />
  <xs:complexType name="AuthenticationResultDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Authenticated" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Store.Common.Enum" minOccurs="0" name="UserAccountStatus" type="q1:UserAccountStatus" />
      <xs:element minOccurs="0" name="UserIdentity" nillable="true" type="tns:PersonDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationResultDataContract" nillable="true" type="tns:AuthenticationResultDataContract" />
  <xs:complexType name="PersonDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsNaturalPerson" type="xs:boolean" />
      <xs:element minOccurs="0" name="LegalPersonDataContract" nillable="true" type="tns:LegalPersonDataContract" />
      <xs:element minOccurs="0" name="NaturalPersonDataContract" nillable="true" type="tns:NaturalPersonDataContract" />
      <xs:element minOccurs="0" name="PrimaryEmail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonDataContract" nillable="true" type="tns:PersonDataContract" />
  <xs:complexType name="LegalPersonDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeveloper" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLockedOut" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNaturalPerson" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryEmail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LegalPersonDataContract" nillable="true" type="tns:LegalPersonDataContract" />
  <xs:complexType name="NaturalPersonDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeveloper" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLockedOut" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NationalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryEmail" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Store.Common.Enum" minOccurs="0" name="Sexuality" type="q2:Sexuality" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NaturalPersonDataContract" nillable="true" type="tns:NaturalPersonDataContract" />
  <xs:complexType name="ArrayOfPersonDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonDataContract" nillable="true" type="tns:PersonDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonDataContract" nillable="true" type="tns:ArrayOfPersonDataContract" />
</xs:schema>