WindowsStoreAdminClient/RemoteService/Service References/AdminService/AdminService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1578/Service/AdminService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Store.DataContract" />
  <xs:import schemaLocation="http://localhost:1578/Service/AdminService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Store.Common.Infrastructure" />
  <xs:element name="SignIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Store.DataContract" minOccurs="0" name="SignInResult" nillable="true" type="q1:AuthenticationResultDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Store.Common.Infrastructure" minOccurs="0" name="pagingParameters" nillable="true" type="q2:PagingParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Store.DataContract" minOccurs="0" name="GetUsersResult" nillable="true" type="q3:ArrayOfPersonDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNaturalPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Store.DataContract" minOccurs="0" name="naturalPerson" nillable="true" type="q4:NaturalPersonDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNaturalPersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterLegalPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Store.DataContract" minOccurs="0" name="legalPerson" nillable="true" type="q5:LegalPersonDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterLegalPersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNaturalPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Store.DataContract" minOccurs="0" name="naturalPerson" nillable="true" type="q6:NaturalPersonDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNaturalPersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLegalPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Store.DataContract" minOccurs="0" name="legalPerson" nillable="true" type="q7:LegalPersonDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLegalPersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Store.DataContract" minOccurs="0" name="personDataContract" nillable="true" type="q8:PersonDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>