WindowsStoreAdminClient/RemoteService/Service References/AdminService/AdminService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdminService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetHttpBinding_IAdminService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1578/Service/AdminService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1578/Service/AdminService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1578/Service/AdminService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Store.DataContract" />
      <xsd:import schemaLocation="http://localhost:1578/Service/AdminService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Store.Common.Enum" />
      <xsd:import schemaLocation="http://localhost:1578/Service/AdminService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Store.Common.Infrastructure" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminService_SignIn_InputMessage">
    <wsdl:part name="parameters" element="tns:SignIn" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SignIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignInResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_RegisterNaturalPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterNaturalPerson" />
  </wsdl:message>
  <wsdl:message name="IAdminService_RegisterNaturalPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterNaturalPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_RegisterLegalPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterLegalPerson" />
  </wsdl:message>
  <wsdl:message name="IAdminService_RegisterLegalPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterLegalPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_UpdateNaturalPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNaturalPerson" />
  </wsdl:message>
  <wsdl:message name="IAdminService_UpdateNaturalPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNaturalPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_UpdateLegalPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLegalPerson" />
  </wsdl:message>
  <wsdl:message name="IAdminService_UpdateLegalPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLegalPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeletePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePerson" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeletePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminService">
    <wsdl:operation name="SignIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/SignIn" message="tns:IAdminService_SignIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/SignInResponse" message="tns:IAdminService_SignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetUsers" message="tns:IAdminService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetUsersResponse" message="tns:IAdminService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterNaturalPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/RegisterNaturalPerson" message="tns:IAdminService_RegisterNaturalPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/RegisterNaturalPersonResponse" message="tns:IAdminService_RegisterNaturalPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterLegalPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/RegisterLegalPerson" message="tns:IAdminService_RegisterLegalPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/RegisterLegalPersonResponse" message="tns:IAdminService_RegisterLegalPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNaturalPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/UpdateNaturalPerson" message="tns:IAdminService_UpdateNaturalPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/UpdateNaturalPersonResponse" message="tns:IAdminService_UpdateNaturalPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLegalPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/UpdateLegalPerson" message="tns:IAdminService_UpdateLegalPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/UpdateLegalPersonResponse" message="tns:IAdminService_UpdateLegalPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/DeletePerson" message="tns:IAdminService_DeletePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/DeletePersonResponse" message="tns:IAdminService_DeletePerson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetHttpBinding_IAdminService" type="tns:IAdminService">
    <wsp:PolicyReference URI="#NetHttpBinding_IAdminService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignIn">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/SignIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/GetUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterNaturalPerson">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/RegisterNaturalPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterLegalPerson">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/RegisterLegalPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNaturalPerson">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/UpdateNaturalPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLegalPerson">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/UpdateLegalPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/DeletePerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="NetHttpBinding_IAdminService" binding="tns:NetHttpBinding_IAdminService">
      <soap12:address location="http://localhost:1578/Service/AdminService.svc/~/Service/Admin.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:1578/Service/AdminService.svc/~/Service/Admin.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>