WindowsStore/UnivercalClient/Service References/FileTransferService/FileTransferService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileTransferService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetHttpBinding_IFileTransferService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1578/Service/FileTransferService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1578/Service/FileTransferService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1578/Service/FileTransferService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Store" />
      <xsd:import schemaLocation="http://localhost:1578/Service/FileTransferService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFileTransferService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IFileTransferService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IFileTransferService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IFileTransferService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="RemoteFileInfo">
    <wsdl:part name="parameters" element="tns:RemoteFileInfo" />
  </wsdl:message>
  <wsdl:message name="RemoteFileInfo_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="Length" element="tns:Length" />
  </wsdl:message>
  <wsdl:message name="IFileTransferService_UploadFile_OutputMessage" />
  <wsdl:message name="DownloadRequest">
    <wsdl:part name="parameters" element="tns:DownloadRequest" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IFileTransferService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransferService/GetData" message="tns:IFileTransferService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransferService/GetDataResponse" message="tns:IFileTransferService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransferService/GetDataUsingDataContract" message="tns:IFileTransferService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransferService/GetDataUsingDataContractResponse" message="tns:IFileTransferService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransferService/UploadFile" name="RemoteFileInfo" message="tns:RemoteFileInfo" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransferService/UploadFileResponse" message="tns:IFileTransferService_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransferService/DownloadFile" name="DownloadRequest" message="tns:DownloadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransferService/DownloadFileResponse" name="RemoteFileInfo" message="tns:RemoteFileInfo" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetHttpBinding_IFileTransferService" type="tns:IFileTransferService">
    <wsp:PolicyReference URI="#NetHttpBinding_IFileTransferService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/IFileTransferService/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap12:operation soapAction="http://tempuri.org/IFileTransferService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/IFileTransferService/UploadFile" style="document" />
      <wsdl:input name="RemoteFileInfo">
        <soap12:header message="tns:RemoteFileInfo_Headers" part="FileName" use="literal" />
        <soap12:header message="tns:RemoteFileInfo_Headers" part="Length" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap12:operation soapAction="http://tempuri.org/IFileTransferService/DownloadFile" style="document" />
      <wsdl:input name="DownloadRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RemoteFileInfo">
        <soap12:header message="tns:RemoteFileInfo_Headers" part="FileName" use="literal" />
        <soap12:header message="tns:RemoteFileInfo_Headers" part="Length" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileTransferService">
    <wsdl:port name="NetHttpBinding_IFileTransferService" binding="tns:NetHttpBinding_IFileTransferService">
      <soap12:address location="http://localhost:1578/Service/FileTransferService.svc/~/Service/FileTransferService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:1578/Service/FileTransferService.svc/~/Service/FileTransferService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>