WindowsStore/UnivercalClient/Service References/DeveloperService/DeveloperService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WindowsStore.StoreService.DataContracts.SoapFaults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WindowsStore.StoreService.DataContracts.SoapFaults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SessionFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="SessionMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionOperation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionReason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SessionFault" nillable="true" type="tns:SessionFault" />
</xs:schema>