WindowsStoreDeveloperClient/Developer.Logic/Service References/DeveloperService/DeveloperService58.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Paasteel.ir" elementFormDefault="qualified" targetNamespace="Paasteel.ir" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Service/DeveloperService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Store.DataContract" />
  <xs:import schemaLocation="http://localhost/Service/DeveloperService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAppCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Store.DataContract" minOccurs="0" name="GetAppCategoriesResult" nillable="true" type="q1:ArrayOfAppCategoryDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Store.DataContract" minOccurs="0" name="appDataContract" nillable="true" type="q2:AppDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAppResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNaturalPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Store.DataContract" minOccurs="0" name="naturalPersonDataContract" nillable="true" type="q3:NaturalPersonDataContract" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNaturalPersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterLegalPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Store.DataContract" minOccurs="0" name="legalPersonDataContract" nillable="true" type="q4:LegalPersonDataContract" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterLegalPersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SignIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Store.DataContract" minOccurs="0" name="SignInResult" nillable="true" type="q5:AuthenticationResultDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEmailAvailableForRegistration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEmailAvailableForRegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsEmailAvailableForRegistrationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryActivateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primaryEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activationCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryActivateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TryActivateAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResendActivationCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResendActivationCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResendActivationCodeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeveloperApps">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeveloperAppsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Store.DataContract" minOccurs="0" name="GetDeveloperAppsResult" nillable="true" type="q6:ArrayOfAppDetailDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeveloperAppDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeveloperAppDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Store.DataContract" minOccurs="0" name="GetDeveloperAppDetailResult" nillable="true" type="q7:AppDetailDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyActiveSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyActiveSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyActiveSessionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppNameIsAvailble">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppNameIsAvailbleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppNameIsAvailbleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAppSpecification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Store.DataContract" minOccurs="0" name="appSpecification" nillable="true" type="q8:AppSpecificationDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAppSpecificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Store.DataContract" minOccurs="0" name="RegisterAppSpecificationResult" nillable="true" type="q9:AppSpecificationDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAppSpecification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Store.DataContract" minOccurs="0" name="appSpecification" nillable="true" type="q10:AppSpecificationDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAppSpecificationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAppIcon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Store.DataContract" minOccurs="0" name="appIconDataContract" nillable="true" type="q11:AppIconDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAppIconResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAppPlatformSpecification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Store.DataContract" minOccurs="0" name="appPlatformSpecificationDataContract" nillable="true" type="q12:AppPlatformSpecificationDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAppPlatformSpecificationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAppVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Store.DataContract" minOccurs="0" name="appVersionDataContract" nillable="true" type="q13:AppVersionDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAppVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Store.DataContract" minOccurs="0" name="RegisterAppVersionResult" nillable="true" type="q14:AppVersionDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAppVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Store.DataContract" minOccurs="0" name="appVersionDataContract" nillable="true" type="q15:AppVersionDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAppVersionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveScreenshot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Store.DataContract" minOccurs="0" name="screenshot" nillable="true" type="q16:ScreenshotDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveScreenshotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveScreenshot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Store.DataContract" minOccurs="0" name="screenshot" nillable="true" type="q17:ScreenshotDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveScreenshotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScreenshot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Store.DataContract" minOccurs="0" name="filter" nillable="true" type="q18:ScreenshotFilterDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScreenshotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Store.DataContract" minOccurs="0" name="GetScreenshotResult" nillable="true" type="q19:ScreenshotDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScreenshotIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Store.DataContract" minOccurs="0" name="fitler" nillable="true" type="q20:ScreenshotFilterDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScreenshotIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetScreenshotIdsResult" nillable="true" type="q21:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>