WindowsStoreUserClient/UI/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.SampleDataSource" targetNamespace="Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="TopApplications" type="tns:TopApplications" />
      <xs:element name="StoreApp" type="tns:StoreApp" />
      <xs:element name="DownloadManager" type="tns:DownloadManager" />
      <xs:element name="Person" type="tns:Person" />
      <xs:element name="AppScreenShots" type="tns:AppScreenShots" />
      <xs:element name="RandomApps" type="tns:RandomApps" />
      <xs:element name="StoreApps" type="tns:StoreApps" />
      <xs:element name="FeaturedApps" type="tns:FeaturedApps" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="3" name="BackgroundImageHeight" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="TopApplications">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="TopApplicationsItem" type="tns:TopApplicationsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TopApplicationsItem">
    <xs:sequence>
      <xs:element name="LatestVersion" type="tns:LatestVersion1" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="D:\Paasteel\Sample Icons" name="Icon128x128" type="tns:Basic-Image" />
    <xs:attribute blend:FormatParameters="1,8" name="PriceString" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="LatestVersion1">
    <xs:attribute name="PriceString" type="xs:double" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
  <xs:complexType name="StoreApp">
    <xs:sequence>
      <xs:element name="AppCategory" type="tns:AppCategory" />
      <xs:element name="LatestVersion" type="tns:LatestVersion" />
    </xs:sequence>
    <xs:attribute blend:Format="Name" name="DeveloperName" type="xs:string" />
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="30,12" name="Description" type="xs:string" />
    <xs:attribute name="Icon128x128" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:complexType name="AppCategory">
    <xs:attribute blend:Format="Name" name="Title" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="LatestVersion">
    <xs:attribute blend:FormatParameters="100,8" name="Description" type="xs:string" />
    <xs:attribute name="SizeString" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="DownloadManager">
    <xs:sequence>
      <xs:element name="CurrentDownloads" type="tns:CurrentDownloads" />
      <xs:element name="CompletedDownloads" type="tns:CompletedDownloads" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrentDownloads">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CurrentDownloadsItem" type="tns:CurrentDownloadsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrentDownloadsItem">
    <xs:attribute blend:Format="Name" name="AppName" type="xs:string" />
    <xs:attribute name="AppIcon64x64" type="tns:Basic-Image" />
    <xs:attribute name="ProgressPercentage" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,8" name="StatusString" type="xs:string" />
    <xs:attribute name="BytesReceivedString" type="xs:double" />
    <xs:attribute name="TotallBytesToReceiveString" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="CompletedDownloads">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CompletedDownloadsItem" type="tns:CompletedDownloadsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompletedDownloadsItem">
    <xs:attribute name="AppName" type="xs:string" />
    <xs:attribute blend:FormatParameters="3,8" name="InstallationStatusString" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Person">
    <xs:attribute name="FirstName" type="xs:string" />
    <xs:attribute name="LastName" type="xs:string" />
    <xs:attribute name="FullName" type="xs:string" />
    <xs:attribute blend:Format="Email Address" name="PrimaryEmail" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="AppScreenShots">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="AppScreenShotsItem" type="tns:AppScreenShotsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AppScreenShotsItem">
    <xs:attribute name="ThumbnailImage" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:complexType name="RandomApps">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="RandomAppsItem" type="tns:RandomAppsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RandomAppsItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="PriceString" type="xs:string" />
    <xs:attribute name="Icon128x128" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:complexType name="StoreApps">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="StoreAppsItem" type="tns:StoreAppsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StoreAppsItem">
    <xs:attribute blend:FormatParameters="2,5" name="Name" type="xs:string" />
    <xs:attribute name="PriceString" type="xs:string" />
    <xs:attribute name="Icon128x128" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:complexType name="FeaturedApps">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="FeaturedAppsItem" type="tns:FeaturedAppsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FeaturedAppsItem">
    <xs:attribute blend:FormatParameters="..\..\..\..\..\..\Paasteel\Apps\CEBF03F9-24B7-46B9-8866-758F56359F27\Background" name="BackgroundImage" type="tns:Basic-Image" />
    <xs:attribute blend:FormatParameters="3,8" name="Name" type="xs:string" />
  </xs:complexType>
</xs:schema>