WindowsStore/Portal/Service References/PaasteelPublicService/PublicService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PublicService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1578/Service/PublicService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1578/Service/PublicService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPublicService_UpPaasteelUserAppDownloadNumberById_InputMessage">
    <wsdl:part name="parameters" element="tns:UpPaasteelUserAppDownloadNumberById" />
  </wsdl:message>
  <wsdl:message name="IPublicService_UpPaasteelUserAppDownloadNumberById_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpPaasteelUserAppDownloadNumberByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPublicService_UpPaasteelUserAppDownloadNumberByGuid_InputMessage">
    <wsdl:part name="parameters" element="tns:UpPaasteelUserAppDownloadNumberByGuid" />
  </wsdl:message>
  <wsdl:message name="IPublicService_UpPaasteelUserAppDownloadNumberByGuid_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpPaasteelUserAppDownloadNumberByGuidResponse" />
  </wsdl:message>
  <wsdl:portType name="IPublicService">
    <wsdl:operation name="UpPaasteelUserAppDownloadNumberById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublicService/UpPaasteelUserAppDownloadNumberById" message="tns:IPublicService_UpPaasteelUserAppDownloadNumberById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublicService/UpPaasteelUserAppDownloadNumberByIdResponse" message="tns:IPublicService_UpPaasteelUserAppDownloadNumberById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpPaasteelUserAppDownloadNumberByGuid">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublicService/UpPaasteelUserAppDownloadNumberByGuid" message="tns:IPublicService_UpPaasteelUserAppDownloadNumberByGuid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublicService/UpPaasteelUserAppDownloadNumberByGuidResponse" message="tns:IPublicService_UpPaasteelUserAppDownloadNumberByGuid_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBindingBinding_IPublicService" type="tns:IPublicService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpPaasteelUserAppDownloadNumberById">
      <soap:operation soapAction="http://tempuri.org/IPublicService/UpPaasteelUserAppDownloadNumberById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpPaasteelUserAppDownloadNumberByGuid">
      <soap:operation soapAction="http://tempuri.org/IPublicService/UpPaasteelUserAppDownloadNumberByGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PublicService">
    <wsdl:port name="BasicHttpBindingBinding_IPublicService" binding="tns:BasicHttpBindingBinding_IPublicService">
      <soap:address location="http://localhost:1578/Service/PublicService.svc/~/Service/PublicService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>